.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-*


backend/.env
backend/.phpunit.result.cache
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/logs/
backend/bootstrap/cache/
backend/public/storage
backend/storage/app/public/*
!backend/storage/app/public/.gitkeep

backend/vendor/
backend/composer.lock

backend/coverage/
backend.phpunit.cache


frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.vitepress/cache

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

frontend/.pnpm-debug.log*
frontend/*.tgz

frontend/.history
frontend/*.sublime-project
frontend/*.sublime-workspace

[Ll]ogs/
[Tt]humbs.db
ehthumbs.db

*.DS_Store
.AppleDouble
.LSOverride

*~

*.tmp
*.temp
.cache/
.parcel-cache/